<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>



  </mat-drawer-content>
</mat-drawer-container> -->

<!-- <div class="mobile-view">
  <mat-card class="example-card" *ngFor="let d of values.question">
    <img mat-card-image class="image-blog" [src]="d.image" alt="Photo of a Shiba Inu">
    <mat-card-header class="header">
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-title>{{d.data.substring(0,80)+"..."}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions class="actions">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
          </svg>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
          </svg>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#000000" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
          </svg>
    </mat-card-actions>
  </mat-card>

</div> -->
<!-- 
<mat-card class="card-demo">
    <mat-card-title>Responsive Flex Directives</mat-card-title>
    <mat-card-subtitle>Use the show hide APIs to responsively show or hide elements:
    </mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div fxLayout="row" class="coloredContainerX box">
          <div fxFlex="67"> 
            flex 33% on mobile, <br>and 66% on gt-sm devices.
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
          </div>
          <div fxFlex="33"> 
            flex 67% on mobile, <br>and 33% on gt-sm devices.
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer style="width:95%"> -->
      <!-- <media-query-status></media-query-status> -->
    <!-- </mat-card-footer>
  </mat-card> -->


<!-- 
    <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
        
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://material.angular.io/assets/img/examples/shiba2.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body cascade="true" class="text-center">
      
          <mdb-card-title>
            <h4>
              <strong>My adventure</strong>
            </h4>
          </mdb-card-title>
      
          <h5 class="indigo-text">
            <strong>Photography</strong>
          </h5>
      
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
      
          <a class="icons-sm li-ic">
            <i class="fab fa-linkedin-in px-2"> </i>
          </a>
          <a class="icons-sm tw-ic">
            <i class="fab fa-twitter px-2"> </i>
          </a>
          <a class="icons-sm fb-ic">
            <i class="fab fa-facebook-f px-2"> </i>
          </a>
        </mdb-card-body>
      
      </mdb-card>
 -->






<!-- 
      <div class="row">
          <div class="col-md-4">
            <mdb-card cascade="true" wider="true">
        
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <mdb-card-body cascade="true" class="text-center pb-0">
                <h4 class="card-title">
                  <strong>Alice Mayer</strong>
                </h4>
                <h5 class="indigo-text">
                  <strong>Photographer</strong>
                </h5>
        
                <mdb-card-text>
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </mdb-card-text>
        
                <a class="px-2 icons-sm li-ic">
                  <i class="fab fa-linkedin-in"> </i>
                </a>
                <a class="px-2 icons-sm tw-ic">
                  <i class="fab fa-twitter"> </i>
                </a>
                <a class="px-2 icons-sm fb-ic">
                  <i class="fab fa-facebook-f"> </i>
                </a>
        
                <div class="card-footer text-muted text-center mt-4">
                  2 days ago
                </div>
        
        
              </mdb-card-body>
        
        
        
        
            </mdb-card>
          </div>
        
          <div class="col-md-4">
            <mdb-card cascade="true" narrower="true">
        
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                <h5 class="pink-text">
                  <i class="fas fa-utensils"></i> Culinary</h5>
                <h4 class="card-title">Cheat day inspirations</h4>
                <mdb-card-text>
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </mdb-card-text>
        
                <a class="btn btn-unique waves-light" mdbWavesEffect>Button</a>
        
                <div class="card-footer text-muted text-center mt-4">
                  2 days ago
                </div>
        
              </mdb-card-body>
        
            </mdb-card>
          </div>
        
          <div class="col-md-4">
            <mdb-card cascade="true">
        
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/men.jpg"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
        
              <mdb-card-body cascade="true" class="text-center pb-0 px-0">
                <h4 class="card-title">
                  <strong>Billy Cullen</strong>
                </h4>
                <h5>Web developer</h5>
        
                <mdb-card-text>
                  Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </mdb-card-text>
        
                <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
                  <i class="fab fa-twitter"></i>
                </a>
                <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbWavesEffect>
                  <i class="fab fa-dribbble"></i>
                </a>
        
                <div class="card-footer text-muted text-center mt-4">
                  2 days ago
                </div>
        
              </mdb-card-body>
        
            </mdb-card>
          </div>
        </div> -->

        <div class="example-container">
            <mat-toolbar color="primary" class="example-toolbar">
              <button mat-icon-button class="menu-button" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
              <h1 class="example-app-name">Responsive App</h1>
            </mat-toolbar>
          
            <mat-sidenav-container class="example-sidenav-container">
              <mat-sidenav [opened]='flag' #snav [mode]="'side'"  class="mat-card-sidenav1">
                <mat-nav-list class="nav-list-cards">
                    <mat-card class="mat-card-sidenav">
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Category
                                </mat-panel-title>
                            </mat-expansion-panel-header>
        
                            <!-- <mat-list>
                                <mat-list-item> Pepper
                                    <span class="space-between"></span> 
                                    <mat-checkbox></mat-checkbox>
                                </mat-list-item>
                                <mat-list-item> Salt 
                                    <span class="space-between"></span> 
                                    <mat-checkbox></mat-checkbox>
                                </mat-list-item>
                                <mat-list-item> Paprika 
                                    <span class="space-between"></span> 
                                    <mat-checkbox></mat-checkbox>
                                </mat-list-item>
                            </mat-list> -->

                            <mat-selection-list #shoes>
                                <mat-list-option *ngFor="let shoe of typesOfShoes">
                                {{shoe}}
                              </mat-list-option>
                            </mat-selection-list>
                            
                            <!-- <p>
                              Options selected: {{shoes.selectedOptions.selected.length}}
                            </p> -->
        
                        </mat-expansion-panel>
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Self aware panel
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                </mat-card>
                </mat-nav-list>
              </mat-sidenav>
          
              <mat-sidenav-content style="background-color: #f5f5f5;">
                
                  <mat-card class="mat-card-main" *ngIf="allData | async as data">
                      <div class="mobile-view">
                          <mat-card class="example-card" *ngFor="let d of data" routerLink="-Lhv6Sj5ZSNAzS274sq3">
                            <img mat-card-image class="image-blog" [src]="d.titleImage" alt="Photo of a Shiba Inu">
                            <mat-card-header class="header">
                              <!-- <div mat-card-avatar class="example-header-image"></div> -->
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                              <mat-card-title>{{d.data.substring(0,80)+"..."}}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                            <mat-card-actions>
                              <div class="actions">
                                <svg class="social-icons" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                                </svg>
                                <svg class="social-icons" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                                </svg>
                                <svg class="social-icons" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                                </svg>
                              </div>
                            </mat-card-actions>
                          </mat-card>

                          <!-- <div *ngFor="let data of allData | async">
                            <img [src]="data.titleImage" alt="titleImage" width="200" height="200">
                          </div> -->

                        </div>
                  </mat-card>


              </mat-sidenav-content>
            </mat-sidenav-container>
          </div>

        <!-- <mat-drawer-container class="example-container">
            <mat-toolbar color="primary" class="example-toolbar">
              <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
              <h1 class="example-app-name">Responsive App</h1>
            </mat-toolbar>
            <mat-drawer mode="side" [opened]='flag' class="sidenav-div">
                <mat-card class="mat-card-sidenav">
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Category
                                </mat-panel-title>
                            </mat-expansion-panel-header>
        
                            <mat-list>
                                <mat-list-item> Pepper
                                    <span class="space-between"></span> 
                                    <mat-checkbox></mat-checkbox>
                                </mat-list-item>
                                <mat-list-item> Salt 
                                    <span class="space-between"></span> 
                                    <mat-checkbox></mat-checkbox>
                                </mat-list-item>
                                <mat-list-item> Paprika 
                                    <span class="space-between"></span> 
                                    <mat-checkbox></mat-checkbox>
                                </mat-list-item>
                            </mat-list>
        
                        </mat-expansion-panel>
                        <mat-expansion-panel expanded>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Self aware panel
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                </mat-card>
            </mat-drawer>
            <mat-drawer-content>
                <mat-card class="mat-card-main">
                    <div class="mobile-view">
                        <mat-card class="example-card" *ngFor="let d of values.question">
                          <img mat-card-image class="image-blog" [src]="d.image" alt="Photo of a Shiba Inu">
                          <mat-card-header class="header">
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-title>{{d.data.substring(0,80)+"..."}}</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                          </mat-card-content>
                          <mat-card-actions class="actions">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
                                </svg>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                                </svg>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="#000000" d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" />
                                </svg>
                          </mat-card-actions>
                        </mat-card>
                      
                      </div>
                </mat-card>
            </mat-drawer-content>
        </mat-drawer-container> -->
