
  mat-card{
    width:250px;
    border-radius: 10px !important;
    box-shadow: none !important;
    .mat-images{
        height: 200px;
        object-fit: contain;
    }
    margin-bottom: 20px;
  }
  .social{
    // position: absolute;
    display: flex;
    flex-direction: row;
  }
  mat-card-title{
    font-family: 'Poppins', sans-serif;
    font-size: 18px !important;
    cursor: pointer;
    font-weight: 700;
  }
  mat-card-title:hover{
    text-decoration: underline;
  }
  .sub-title{
    display: flex;
    flex-direction: row;
    font-family: 'Nunito', sans-serif;
  }
  
  .icons{
    width:20px;
    height:20px;
    cursor: pointer;
    padding: 0px 5px;
  }
  
  
  .mat-side-nav-panel{
    width: 280px;
  }
  ::ng-deep .mat-chip-list-wrapper{
    margin: 0px !important;
  }
  
  ::ng-deep .mat-drawer{
    background-color: #eaeaea;
  }
  ::ng-deep .mat-drawer-side.mat-drawer-end{
    border-left:none !important; 
  }
  .user img{
    width: 40px;
    border-radius: 50%;
  }

  .main-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

 ::ng-deep .mat-card-header-text{
    // margin: 0px !important;
    width: 100% !important; 
  }
