<mat-card>
    <h1>Register</h1>
    <div>
        <mat-card class="sub-card">
            <img src="assets/profile.svg" alt="" class="register-profile">
            <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit(registerFormGroup.value)" fxLayout="column"
                fxLayoutAlign="center">

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="First Name" formControlName="firstName">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['firstName'].valid && registerFormGroup.controls['firstName'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['lastName'].valid && registerFormGroup.controls['lastName'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['email'].valid && registerFormGroup.controls['email'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="Password" formControlName="password" type="password">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['password'].valid && registerFormGroup.controls['password'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="Confirm Password" formControlName="conformPassword" type="password">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['conformPassword'].valid && registerFormGroup.controls['conformPassword'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['mobileNumber'].valid && registerFormGroup.controls['mobileNumber'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="auto"
                        formControlName="country">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates | async" [value]="state.country">
                            <!-- <img class="example-option-img" aria-hidden [src]="state.flag" height="25"> -->
                            <span>{{state.country}}</span>
                            <!-- <small>Population: {{state.population}}</small> -->
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error
                        *ngIf="!registerFormGroup.controls['country'].valid && registerFormGroup.controls['country'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-element">
                    <input matInput placeholder="State" formControlName="state">
                    <mat-error
                        *ngIf="!registerFormGroup.controls['state'].valid && registerFormGroup.controls['state'].touched">
                        {{ "enter proper Name" }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="dp3" placeholder="Date Of Birth" formControlName="dob" readonly>
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3></mat-datepicker>
                </mat-form-field>
                <!-- <p>
                    I Accept Terms and Conditions.
                </p> -->
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="terms-conditions">
                    <mat-checkbox #terms></mat-checkbox>
                    <p>
                        I Accept <a (click)="openDialog()">Terms and Conditions.</a>
                    </p> 
                </div>
                <div class="form-element">
                    <button mat-raised-button color="primary" type="submit" class="button"
                        disabled="{{!(registerFormGroup.valid && terms.checked)}}">CREATE ACCOUNT</button>
                </div>
            </form>
            <p class="login-link">
                Already a member? <a [routerLink]="[ '/login']">Login here</a>
            </p>
        </mat-card>
    </div>
</mat-card>