// .footer{
//     background-color: black;
//     min-height: 200px;
//     width: 100%;
// }
// .footer div{
//     height: 100%;
//     text-align: center;
// }
// .footer h1,h2{
//     color: white;
//     font-family: "Poppins", sans-serif;
//     font-size: 50px;
//     margin: 0px;
// }
// .footer h2{
//     font-size: 80px;
//     transform: rotate(-20deg);
//     margin: 0px;
//     font-family: 'Baloo', cursive;
//     font-weight: 900;
// }
// .footer-center{
//     color: white;
//     font-family: 'Poppins', sans-serif;
// }

// .footer-center div h3{
//     border-bottom: 2px solid white;
// }
.icon{
    padding: 0px 10px;
    fill: #ffffff;
}


//    new 






.main1-div{
    background-color:#222222;
    width: 100%;
    // height: 200px;
    // height: 100%;
    color: white;
    .main1-sub1{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        height: 100%;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-around;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
}

.insitute-name{
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
  .willntrix-head{
    font-family: "Comfortaa",cursive;
    font-size: 50px;
  }
  .willntrix-sub{
    font-family: "Comfortaa",cursive;
    font-size: 25px;
  }
}

.carriers{
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}
.carriers-head{
  font-family:  Roboto,sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}
.carriers-head a{
  color: white;
  text-decoration: none;
}
.social img{
  padding: 0px 5px;
}
.carriers-sub{
  font-family:  Roboto,sans-serif;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.8;
}
.line{
  max-width: 200px;
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0px;
}

@media(max-width:500px){
  .willntrix-head{
    font-size: 35px !important;
  }
  .willntrix-sub{
    font-size: 15px !important;
  }
  .main1-sub1{
    flex-direction: column !important;
  }
}