<!-- <div class="footer">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
            <div>
                <h2>WX</h2>
                <h1>Willntrix</h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="footer-center" fxLayoutGap="50px">
                <div>
                    <h3>Carriers</h3>
                    <p>Carriers</p>
                </div>
                <div>
                    <h3>Carriers</h3>
                    <p>Carriers</p>
                </div>
            </div>
            <div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon svgIcon="facebook" class="icon"></mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon svgIcon="twitter" class="icon"></mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon">
                        <mat-icon svgIcon="instagram" class="icon"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div> -->


<!-- new  -->



<div class="main1-div">
    <div class="main1-sub1">

        <div class="insitute-name">
            <div class="willntrix-head">
                WillntriX
            </div>
            <div class="willntrix-sub">
                Get skilled | Get hired
            </div>
        </div>

        <div class="carriers">
            <div class="carriers-head">About Us</div>
            <div class="carriers-head">Reviews</div>
            <div class="carriers-head">Testimonials</div>
            <div class="carriers-head">FAQs</div>
            <div class="carriers-head">Contact Us</div>
        </div>

        <div class="carriers">
            <div class="carriers-head">Enquiry now</div>
            <div class="carriers-head">Enroll for demo</div>
            <div class="carriers-head">Registration</div>
            <div class="carriers-head">Daily tracker</div>
            <div class="carriers-head">Workshops</div>
        </div>

        <div class="social">
            <a href="https://www.facebook.com/willntrix/" target="_blank">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon svgIcon="facebook" class="icon"></mat-icon>
                </button>
            </a>
            <a href="https://www.instagram.com/willntrix/" target="_blank">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <mat-icon svgIcon="twitter" class="icon"></mat-icon>
                </button>
            </a>
        </div>
    </div>
</div>