.login-page{
    width: 100%;
    height: 100%;
}

.form-element{
    width: 100%;
    padding: 10px 0px;
}
.button{
    width: 100%;
}
.login-body{
    display: table;
    padding: 10px;
    margin: 10% auto 10% auto;
}
.button-content{
    padding: 1px;
}

.google-button{
    padding: 10px 0px;
}

.new-user a{
    text-decoration: none;
}
.or{
    text-align: center;
    padding: 10px;;
}

.forget-password a{
    text-decoration: none;
    float: right;
    color: #2f2fb5;
    cursor: pointer;
}

.forget-Password-page{
    width: 100%;
    height: 100%;
    text-align: center;
}
.forget-password-content{
    display: inline-block;
    width: 300px;
}
.forget-password{
    margin-bottom:25px; 
}
.back-to-login{
    font-size: 15px;
    color: #2f2fb5;
    cursor: pointer;
}
.backIcon{
    font-size: 15px;
    cursor: pointer;
    color: #2f2fb5;
}

.googleimage{
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}
mat-spinner{
    margin: 12px !important;
}
.buttonName{
    display: inline-flex;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(255, 255, 255)!important;
}