<<<<<<< HEAD
.example-container {
=======
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-container {
    display: flex;
    flex-direction: column;
>>>>>>> willntrix.v1
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
<<<<<<< HEAD
    
}

.sidenav-div{
    background: #fafafa;
    border-right: solid 1px rgba(0,0,0,0);
  }

  .mat-card-main{
    margin: 2%;
    padding: 1%;
  }
  .mat-card-sidenav{
      width: 350px;
      margin: 30px;
      padding:10px;
      height: calc(100% - 80px);
  }
  .space-between{
    flex: 1 1 auto;
  }
=======
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .main-all-buttons{
      max-width: 1200px;
      margin: 0% auto;
      width: 100%;
  }
  .logo{
    width: 140px;
  }

  .all-content{
    max-width: 1200px;
    width: 100%;
    margin: 0% auto;
  }

  .main-content{
    width: 100%;
  }
 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
    padding: .5em 0 !important;
  }
::ng-deep .search-input .mat-form-field-wrapper{
    padding-bottom: 0px !important;
  }
  .search-tab{
    padding: 20px;
  }
::ng-deep .mat-menu-panel{
  // max-width: 350px !important;
}
.search-main-tab{
  padding: 10px 0px;
}

.example-card {
  // max-width: 350px;
  width: calc(100% - 32px);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.follow{
  text-align: center;
  img{
    width: 40px;
  }
}

.active{
  background-color: #673ab7 !important;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.example-card1{
  box-shadow: none !important;
  padding: 0px;
  .header{
    font-size: 16px !important;
    cursor: pointer;
  }
  .sub-header{
    font-size: 12px !important;
  }
}
.profile{
  img{
    width:40px;
  }
}
>>>>>>> willntrix.v1
