  .sub-card{
    max-width: 350px;
    text-align: center;
    margin: 0px auto;
  }
  h1{
    margin: 0px 0px 25px 30px;
  }
  .register-profile{
    width: 100px;
  }
  .terms-conditions{
    a{
      color: #2da6e9;
      cursor: pointer;
    }
    a:hover{
      text-decoration: underline;
    }
  }
  .button{
    width:100%;
    font-weight: blod;
  }