<div class="profile-main-div" *ngIf="currentUser && currentUser.emailVerified">
  <div class="profile-sub" fxLayout="column" fxLayoutAlign="center center">
    <div class="profile-image upload-btn-wrapper">
        <button class="btn1">
          <img [src]="currentUser.photoURL" alt="" style="width: 100%;">
        </button>
        <input type="file" name="myfile"  (change)="uplaod($event)"/>
      <!-- <div class="update-profile" (click)="updateImage(currentUser)">
        <span>Update</span>
      </div> -->
    </div>
    <div>
      <h1>Name : {{currentUser.displayName}}</h1>
    </div>
    <div>
      <h1>Email : {{currentUser.email}}</h1>
    </div>
    <div>
      <h1>Mobile Number : {{currentUser.phoneNumber?currentUser.phoneNumber:"Not Mentioned"}}</h1>
    </div>
    <div>
      <button mat-raised-button color="primary" style="width: 150px" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span style="padding: 0px 10px">Logout</span>
      </button>
    </div>
    <div *ngIf="!currentUser.emailVerified">
      <button mat-button color="primary" (click)="verifyEmail(currentUser)">Verify Email</button>
    </div>
  </div>
</div>

<div *ngIf="!currentUser" class="spinner" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>
